extends layout

block head
  script(src='/js/controllers/genre-controller.js')

block content
  .genre(ng-controller='genreController' ng-init="init('#{genre.slug}')")
    .row#header
      .col-md-12
        h1= genre.name
        p.sub-head
          if genre.parentGenre
            |A Subgenre of#{' '}
            a(href='/genres/#{genre.parentGenre.slug}')
              b #{genre.parentGenre.name}
            |  music

    .row
      .col-md-8
        h3 Top Definition
        .definition.definition-top(ng-if="genre.definitions[0]")
          p.body
            i.fa.fa-quote-left
            | {{genre.definitions[0].body}}
          p.examples(ng-if="definition.examples") Example artists: {{genre.definitions[0].examples}}
          .byline.text-muted
            {{genre.definitions[0].createdAt | date : shortDate}}

        .add-definition(ng-hide="showForm")
          .lead(ng-show="genre.definitions.length > 0")
            p
              | Got a better definition?#{' '}
              btn.btn.btn-primary(ng-click="showForm = true") Add Your Own Definition

          div(ng-show="genre.definitions.length == 0")
            p Do you know what {{genre.name}} sounds like? Enlighten us!
            btn.btn.btn-primary(ng-click="showForm = true") Add Your Definition

        form.definition-new(ng-submit="createDefinition()" ng-show="showForm")
          p.input-group
            label(for="definition-body") Enter your definition of "#{genre.name}" here
            textarea.form-control(name="definition-name" ng-model="newDefinition.body")
          p.input-group
            label(for="definition-examples") Can you name a few example artists?
            input.form-control(type="text" name="definition-name" placeholder="ex: Prince, Sting, The Pizza Underground" ng-model="newDefinition.examples")
          br
          button.btn.btn-primary(type="submit") Save
          a.cancel(href="#" ng-click="clearAndCloseForm(); $event.preventDefault()") Cancel

    .row
      .col-md-8
        .row
          .col-md-6
            h3 Subgenres
            ul.list-unstyled.genre-list(ng-show="genre.subGenres")
              li(ng-repeat="subgenre in genre.subGenres")
                a(href='/genres/{{subgenre.slug}}') {{subgenre.name}}
                i.fa.fa-circle
            a.add-subgenre.btn.btn-default(href="/genres/{{genre.slug}}/add-subgenre")
              | Add a <b>#{genre.name}</b> Subgenre

          .col-md-6(ng-if="genre.siblings.length > 1")
            h3 Related Genres
            ul.list-unstyled.genre-list
              li(ng-repeat="genre in genre.siblings")
                a(href='/genres/{{genre.slug}}') {{genre.name}}
                i.fa.fa-circle

    .row(ng-if="genre.definitions.length > 1")
      .col-md-8
        hr/
        br/
        h3 Additional definitions
        .definition(ng-repeat="definition in genre.definitions.slice(1)")
          p.body
            i.fa.fa-quote-left
            | {{definition.body}}
          p.examples(ng-if="definition.examples") Example artists: {{definition.examples}}
          .byline.text-muted
            {{definition.createdAt | date : shortDate}}
