extends layout

block head
  script(src='/js/controllers/genre-controller.js')
  script(src='/js/directives/ng-definition-directive.js')

block content
  .genre(ng-controller='genreController' ng-init="init('#{genre.slug}')")
    .row#header
      .col-md-12
        h1= genre.name
        h2
          if genre.parentGenre
            |a subgenre of#{' '}
            a(href='/genres/#{genre.parentGenre.slug}')
              b #{genre.parentGenre.name}
            |  music

    .row
      .col-md-12
        ng-definition(definition="topDefinition")

        .add-definition(ng-hide="showForm")
          .lead(ng-show="genre.definitions.length > 0")
            p
              | Got a better definition?#{' '}
              if user
                btn.btn.btn-primary.btn-lg(ng-click="showForm = true") Add Your Definition
              else
                a.btn.btn-primary.btn-lg(href="/auth/twitter")
                  i.fa.fa-twitter
                  | Sign in to Add Your Definition

        form.definition-new(ng-submit="createDefinition()" ng-show="genre.definitions.length == 0 || showForm")
          p
            i Show the world how cool and knowledgable you are by telling us all about {{genre.name}}.
          p.input-group
            label.label-lg(for="definition-body") What does #{genre.name} sound like?
            textarea.form-control(name="definition-name" ng-model="newDefinition.body")
          p.input-group
            label(for="definition-examples") Which artists play {{genre.name}}?
            input.form-control(type="text" name="definition-examples" placeholder="ex: Prince, Sting, The Pizza Underground" ng-model="newDefinition.examples")

          p.input-group
            label(for="definition-alternatives") Does {{genre.name}} have any nicknames?
            input.form-control(type="text" name="definition-alternatives" placeholder="ex: Drone metal, Drone Doom, Power Ambient" ng-model="newDefinition.alternatives")
          .controls
            a.cancel(href="#" ng-click="clearAndCloseForm(); $event.preventDefault()" ng-if="genre.definitions.length > 0") Cancel
            button.btn.btn-primary.btn-lg(type="submit") Add Definition

    .row
      .col-md-12
        .row
          .col-md-6
            h3
              | {{genre.name}}
              strong  Subgenres
            ul.list-unstyled.genre-list(ng-show="genre.subGenres")
              li(ng-repeat="subgenre in genre.subGenres")
                a(href='/genres/{{subgenre.slug}}') {{subgenre.name}}
                i.fa.fa-circle
            a.add-subgenre.btn.btn-default(href="/genres/{{genre.slug}}/add-subgenre")
              | Add a <b>#{genre.name}</b> Subgenre

          .col-md-6(ng-if="genre.siblings.length > 0")
            h3 Related Genres
            ul.list-unstyled.genre-list
              li(ng-repeat="genre in genre.siblings")
                a(href='/genres/{{genre.slug}}') {{genre.name}}
                i.fa.fa-circle

    .row(ng-if="genre.definitions.length > 1")
      .col-md-12
        hr/
        br/
        h3 Additional definitions
        ng-definition(ng-repeat="definition in genre.definitions.slice(1)" definition="definition")
