extends layout

block head
  script(src='/js/controllers/genre-controller.js')

block content
  div(ng-controller='genreController' ng-init="init('#{genre.slug}')")
    .row
      .col-md-12
        p.sub-head
          if genre.parentGenre
            |A#{' '}
            a(href='/genres/#{genre.parentGenre.slug}') #{genre.parentGenre.name}
            |  subgenre
          else
            |A top-level genre

        h1= genre.name

    .row
      .col-md-6
        h3 Subgenres
        ul.list-unstyled.genre-list
          li(ng-repeat="subgenre in genre.subGenres")
            a(href='/genres/{{subgenre.slug}}') {{subgenre.name}}
        a.btn.btn-default(href="/genres/{{genre.slug}}/add-subgenre")
          | Add a <b>#{genre.name}</b> Subgenre

    .row
      .col-md-6
        h3 Definition
        p Punk rock (or simply punk) is a rock music genre that developed between 1969 and 1976 in the United States, United Kingdom, and Australia. Rooted in garage rock and other forms of what is now known as protopunk music, punk rock bands eschewed perceived excesses of mainstream 1970s rock. Punk bands typically use short or fast-paced songs, with hard-edged melodies and singing styles, stripped-down instrumentation, and often political, anti-establishment lyrics. Punk embraces a DIY ethic; many bands self-produced recordings and distributed them through informal channels.

    .row
      .col-md-6
        h3 Related Genres
        ul.list-unstyled.genre-list
          li(ng-repeat="genre in siblingGenres")
            a(href='/genres/{{genre.name}}') {{genre.name}}
